<form action="/tasks/add" method="post">

    <div>
        <label for="title">Escribe un titulo</label>
        <input type="text" name="title" id="" placeholder="Titulo">
    </div>

    <div>
        <label for="description">Escribe una Descripcion</label>
        <textarea name="description" id="description" cols="30" rows="10" placeholder="Descripcion"></textarea>
    </div>
    <button>Agregar</button>
</form>